<template name="homeCommandTabFly">
    {{#if mspIsDeviceConnected}}
        <div class="input-group">
            <div class="btn-group">
                {{#if isTcpRcOn}}
                    {{#if mspIsBoxActive 'arm'}}
                        <button class="btn btn-danger js-btn-disarm"
                                data-loading-text="Disarming..."
                                type="button">
                            <i class="icon-io-upload"></i>
                            Disarm
                        </button>
                    {{else}}
                        <button class="btn btn-primary js-btn-arm"
                                data-loading-text="Arming..."
                                type="button">
                            <i class="icon-io-upload"></i>
                            Arm
                        </button>
                        <button class="btn btn-danger js-btn-stop-tcp-rc"
                                data-loading-text="Stopping TCP RC..."
                                type="button">
                            <i class="icon-io-connection"></i>
                            Stop TCP RC
                        </button>
                    {{/if}}
                {{else}}
                    <button class="btn btn-default js-btn-start-acc-calibration"
                            data-loading-text="Calibrating..."
                            type="button">
                        <i class="icon-io-rocket"></i>
                        Acc calibration
                    </button>
                    <button class="btn btn-default js-btn-start-mag-calibration"
                            data-loading-text="Calibrating..."
                            type="button">
                        <i class="icon-io-earth"></i>
                        Mag calibration
                    </button>
                    <button class="btn btn-primary js-btn-start-tcp-rc"
                            data-loading-text="Starting TCP RC..."
                            type="button">
                        <i class="icon-io-connection"></i>
                        Start TCP RC
                    </button>
                {{/if}}
            </div>
        </div>
    {{/if}}
</template>

<template name="homeTabFly">
    <div class="tab-fly">
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <div id="map-canvas-fly" style="height: 500px;"></div>
            </div>
        </div>
    </div>
</template>