<template name="homeTabSettings">
    <form class="form-horizontal" role="form">
        <div class="row">
            <div class="col-sm-6 pid">
                <h2>PID settings</h2>
                <hr/>

                {{> homePidInput name="Roll" input="roll"}}
                {{> homePidInput name="Pitch" input="pitch"}}
                {{> homePidInput name="Yaw" input="yaw"}}
                {{> homePidInput name="Altitude" input="altitude"}}
                {{> homePidInput name="Position hold" input="pos"}}
                {{> homePidInput name="Position hold rate" input="posr"}}
                {{> homePidInput name="Navigation rate" input="navr"}}
                {{> homePidInput name="Level" input="level"}}
                {{> homePidInput name="Magnetometer" input="mag"}}
            </div>

            <div class="col-sm-6">
                <h2>Rate / Expo settings</h2>
                <hr/>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="control-label">
                                    RC Expo
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">-</button>
                                    </div>

                                    <input class="form-control" name="{{input}}_i" type="text"
                                           value="0.00"/>

                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <label class="control-label">
                                    RC Rate
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">-</button>
                                    </div>

                                    <input class="form-control" name="{{input}}_i" type="text"
                                           value="0.00"/>

                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <canvas id="rcChart"></canvas>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="control-label">
                                    Throttle Expo
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">-</button>
                                    </div>

                                    <input class="form-control" name="{{input}}_i" type="text"
                                           value="0.00"/>

                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <label class="control-label">
                                    Throttle Rate
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">-</button>
                                    </div>

                                    <input class="form-control" name="{{input}}_i" type="text"
                                           value="0.00"/>

                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <canvas id="throttleChart"></canvas>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="control-label">
                                    Roll / Pitch Rate
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">-</button>
                                    </div>

                                    <input class="form-control" name="{{input}}_i" type="text"
                                           value="0.00"/>

                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <label class="control-label">
                                    Yaw Rate
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">-</button>
                                    </div>

                                    <input class="form-control" name="{{input}}_i" type="text"
                                           value="0.00"/>

                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <label class="control-label">
                                    Throttle PID attenuation
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">-</button>
                                    </div>

                                    <input class="form-control" name="{{input}}_i" type="text"
                                           value="0.00"/>

                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">+</button>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- .row -->
                    </div>
                </div> <!-- .row -->
            </div>
        </div>
    </form>
</template>