<template name="homeTabLog">
    <div class="row">
        <div class="col-sm-12">
            <h2>Log</h2>
            <hr/>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th rowspan="3">Time</th>
                    <th colspan="9">Sensors</th>
                    <th rowspan="3">GPS</th>
                </tr>
                <tr>
                    <th colspan="3">Acc</th>
                    <th colspan="3">Gyro</th>
                    <th colspan="3">Mag</th>
                </tr>
                <tr>
                    <th>X</th>
                    <th>Y</th>
                    <th>Z</th>

                    <th>X</th>
                    <th>Y</th>
                    <th>Z</th>

                    <th>X</th>
                    <th>Y</th>
                    <th>Z</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</template>