<template name="home">
    <div class="home">
        <div class="form-inline text-right">
            {{#if isMspConnected}}

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-refresh"></i>
                    Cycle time <span class="msp-cycle-time">{{mspCycleTime}}ms</span>
                </span>
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-transfer"></i>
                    Connected to {{mspConnectedDeviceName}}
                </span>

                <div class="input-group-btn">
                    <button class="btn btn-danger js-btn-disconnect" type="button">
                        <i class="glyphicon glyphicon-off"></i>
                        Disconnect
                    </button>
                </div>
            </div>

            {{else}}

            <div class="input-group">
                <select class="form-control js-select-devices">
                    {{#each getAvailableMspDeviceNames}}
                    <option value="{{name}}">{{name}} (v{{version}})</option>
                    {{else}}
                    <option value="">No available device</option>
                    {{/each}}
                </select>

                <div class="input-group-btn">
                    <button class="btn btn-default js-btn-refresh-devices-list"
                            data-loading-text="<i class='glyphicon glyphicon-refresh'></i> Refreshing" type="button">
                        <i class="glyphicon glyphicon-refresh"></i>
                        Refresh
                    </button>
                    <button class="btn btn-primary js-btn-connect"
                            data-loading-text="<i class='glyphicon glyphicon-off'></i> Connecting..." type="button">
                        <i class="glyphicon glyphicon-off"></i>
                        Connect
                    </button>
                </div>
            </div>

            {{/if}}
        </div>

        <div class="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a href="#tab-general" aria-controls="tab-general" role="tab" data-toggle="tab">
                        <i class="icon-io-home"></i>
                        General
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-content">

            <div id="tab-general" class="tab-pane" role="tabpanel">

            </div>

        </div>
    </div>
</template>