<template name="homePidInput">
    <strong>{{name}}</strong>

    <div class="row">
        <div class="col-sm-4">
            <div class="input-group">
                <div class="input-group-addon">P</div>

                <div class="input-group-btn">
                    <button class="btn btn-default js-btn-p-dec" type="button">-</button>
                </div>

                <input class="form-control pid-p" name="{{input}}_p" type="text" value="{{mspPidSettingP input}}"/>

                <div class="input-group-btn">
                    <button class="btn btn-default js-btn-p-inc" type="button">+</button>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="input-group">
                <div class="input-group-addon">I</div>

                <div class="input-group-btn">
                    <button class="btn btn-default js-btn-i-dec" type="button">-</button>
                </div>

                <input class="form-control pid-i" name="{{input}}_i" type="text" value="{{mspPidSettingI input}}"/>

                <div class="input-group-btn">
                    <button class="btn btn-default js-btn-i-inc" type="button">+</button>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="input-group">
                <div class="input-group-addon">D</div>

                <div class="input-group-btn">
                    <button class="btn btn-default js-btn-d-dec" type="button">-</button>
                </div>

                <input class="form-control pid-d" name="{{input}}_d" type="text" value="{{mspPidSettingD input}}"/>

                <div class="input-group-btn">
                    <button class="btn btn-default js-btn-d-inc" type="button">+</button>
                </div>
            </div>
        </div>
    </div>
</template>