<template name="home">
    <div class="home">

        <div class="form-inline text-right">
            {{#if isTabActive 'tab-flight-tuning'}}
            <div class="input-group">
                <div class="btn-group">
                    {{#if mspIsConnected}}
                    <button class="btn btn-default js-btn-read-settings" type="button">
                        <i class="glyphicon glyphicon-floppy-save"></i>
                        Read settings
                    </button>
                    <button class="btn btn-danger js-btn-write-settings" type="button">
                        <i class="glyphicon glyphicon-floppy-open"></i>
                        Write settings
                    </button>
                    {{else}}
                    <button class="btn btn-default js-btn-read-settings" type="button" disabled="disabled">
                        <i class="glyphicon glyphicon-floppy-save"></i>
                        Read settings
                    </button>
                    <button class="btn btn-danger js-btn-write-settings" type="button" disabled="disabled">
                        <i class="glyphicon glyphicon-floppy-open"></i>
                        Write settings
                    </button>
                    {{/if}}
                </div>
            </div>
            {{/if}}

            {{#if isTabActive 'tab-log'}}
            <div class="input-group">
                <div class="btn-group">
                    {{#if mspIsConnected}}
                    <button class="btn btn-default js-btn-read-log" type="button">
                        <i class="glyphicon glyphicon-floppy-save"></i>
                        Read log
                    </button>
                    {{else}}
                    <button class="btn btn-default js-btn-read-log" type="button" disabled="disabled">
                        <i class="glyphicon glyphicon-floppy-save"></i>
                        Read log
                    </button>
                    {{/if}}
                </div>
            </div>
            {{/if}}

            {{#if mspIsConnected}}
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-refresh"></i>
                    Cycle time {{mspCycleTime}}ms
                </span>
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-transfer"></i>
                    Connected to {{mspConnectedDeviceName}}
                </span>

                <div class="input-group-btn">
                    <button class="btn btn-danger js-btn-disconnect" type="button">
                        <i class="glyphicon glyphicon-off"></i>
                        Disconnect
                    </button>
                </div>
            </div>
            {{else}}
            <div class="input-group">
                <select class="form-control js-select-devices">
                    {{#each mspAvailableDeviceNames}}
                    <option value="{{name}}">{{name}} (v{{version}})</option>
                    {{else}}
                    <option value="">No available device</option>
                    {{/each}}
                </select>

                <div class="input-group-btn">
                    <button class="btn btn-default js-btn-refresh-devices-list"
                            data-loading-text="<i class='glyphicon glyphicon-refresh'></i> Refreshing" type="button">
                        <i class="glyphicon glyphicon-refresh"></i>
                        Refresh
                    </button>
                    <button class="btn btn-primary js-btn-connect"
                            data-loading-text="<i class='glyphicon glyphicon-off'></i> Connecting..." type="button">
                        <i class="glyphicon glyphicon-off"></i>
                        Connect
                    </button>
                </div>
            </div>
            {{/if}}
        </div>

        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a href="#tab-general" aria-controls="tab-general" role="tab" data-toggle="tab">
                        <i class="icon-io-home"></i>
                        General
                    </a>
                </li>
                <li role="presentation">
                    <a href="#tab-fly" aria-controls="tab-fly" role="tab" data-toggle="tab">
                        <i class="glyphicon glyphicon-send"></i>
                        Fly
                    </a>
                </li>
                <li role="presentation">
                    <a href="#tab-map" aria-controls="tab-map" role="tab" data-toggle="tab">
                        <i class="glyphicon glyphicon-globe"></i>
                        Map
                    </a>
                </li>
                <li role="presentation">
                    <a href="#tab-sensor-graph" aria-controls="tab-sensor-graph" role="tab" data-toggle="tab">
                        <i class="icon-io-stats-bars"></i>
                        Sensor Graph
                    </a>
                </li>
                <li role="presentation">
                    <a href="#tab-flight-tuning" aria-controls="tab-flight-tuning" role="tab" data-toggle="tab">
                        <i class="icon-io-equalizer"></i>
                        Flight tuning
                    </a>
                </li>
                <li role="presentation">
                    <a href="#tab-log" aria-controls="tab-log" role="tab" data-toggle="tab">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        Log
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-content">

            <div id="tab-general" class="tab-pane" role="tabpanel">
                {{> homeTabGeneral }}
            </div>

            <div id="tab-fly" class="tab-pane" role="tabpanel">
                {{> homeTabFly}}
            </div>

            <div id="tab-map" class="tab-pane" role="tabpanel">
                {{> homeTabMap }}
            </div>

            <div id="tab-sensor-graph" class="tab-pane" role="tabpanel">
                {{> homeTabSensorGraph }}
            </div>

            <div id="tab-flight-tuning" class="tab-pane" role="tabpanel">
                {{> homeTabFlightTuning }}
            </div>

            <div id="tab-log" class="tab-pane" role="tabpanel">
                {{> homeTabLog }}
            </div>
        </div>
    </div>
</template>