<head>
    <title>{{title}}</title>
</head>

<body>

</body>

<template name="layout">
    <div class="container-fluid">
        <h1><i class="icon-io-quad"></i> Multicopter manager</h1>
        <hr/>

        {{> yield}}
    </div>
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</template>